/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILS */

body {
    font-size: 25px;
    font-weight: 600;
}

.flex {
    display: flex;
}

.center-content {
    justify-content: center;
    align-items: center;
}

.border-b {
    border: #000 dashed 4px;
}

.border-w {
    border: #FFFFFF dashed 4px;
}

.hr {
    height: 4px;
    background-color: #ADD8E6;
}

.container-white, .container-grey, .container-darkgray {
    min-height: 800px;
    padding: 100px 0;
}

/* HEADER */

.nav {
    height: 100px;
    background-color: #ADD8E6;
}

.header-item {
    align-items: center;
    flex-basis: 20%;
    height: 60%;
    padding: 0 10px;
    background-color: #DAA51F;
}

.login {
    justify-content: flex-end;
}

.link {
    flex-basis: 40%;
    justify-content: center;

}

.link > span {
    margin: 0 5px;
}

.container-blue {
    height: 600px;
    background-color: #00188A;
}

.pink-card {
    height: 70%;
    width: 50%;
    background-color: #EE82EE;
}

/* MAIN */

.container-white {
    background-color: #FFFFFF;
}

.container-grey {
    background-color: #D3D3D3;
}

.container-darkgray {
    background-color: #23272A;
}

.blue-item {
    flex-basis: 1100px;
    min-height: 600px;
    background-color: #1E90FF;
}

.pink-item {
    flex-basis: 500px;
    min-height: 600px;
    background-color: #FFBFCB;
}

.green-item {
    flex-basis: 1600px;
    min-height: 1000px;
    background-color: #218B22;
}

.salmon-item {
    flex-basis: 400px;
    min-height: 600px;
    background-color: #F08080;
}

.turquoise-item {
    flex-basis: 300px;
    min-height: 600px;
    background-color: #20B2AA;

}

/* FOOTER */

.footer-container {
    background-color: #23272A;
    height: 150px;
    justify-content: center;
    align-items: flex-end;
}

.footer-item {
    background-color: #7EFFD4;
    height: 70%;
    width: 1600px;
    justify-content: space-between;
    align-items: center;
}

.footer-nav {
    padding: 5px;
    background-color: #F08080;
}