/* COLORI 
#ADD8E6 azzurro header
#DAA51F oro header
#00188A blu scuro main
#EE82EE rosa scuro main
#1E90FF blu main
#FFBFCB rosa main
#218B22 verde main
#F08080 salmone main
#20B2AA turchese main
#FFFFFF background bianco
#D3D3D3 background grigio
#23272A background grigio scuro
#7EFFD4 verde footer */


/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 600;
}

/* UTILS */

.container-white, .container-grey, .container-darkgray {
    min-height: 800px;
    padding: 100px 0;
}

.flex {
    display: flex;
}

.center-content {
    justify-content: center;
    align-items: center;
}

.direction {
    flex-direction: column;
}

.border-b {
    border: #000 dashed 4px;
}

.border-w {
    border: #FFFFFF dashed 4px;
}

.hr {
    height: 5px;
    background-color: #ADD8E6;
}

/* HEADER */

.nav {
    height: 100px;
    background-color: #ADD8E6;
}

.header-item {
    align-items: center;
    flex-basis: 20%;
    height: 60%;
    padding: 0 10px;
    background-color: #DAA51F;
}

.login {
    justify-content: flex-end;
}

.link {
    flex-basis: 40%;
    justify-content: center;

}

span {
    margin: 0 5px;
}

.blue-background {
    height: 600px;
    background-color: #00188A;
}

.pink-card {
    height: 70%;
    width: 50%;
    background-color: #EE82EE;
}

/* MAIN */

.container-white {
    background-color: #FFFFFF;
}

.container-grey {
    background-color: #D3D3D3;
}

.container-darkgray {
    background-color: #23272A;
}

.blue-item {
    flex-basis: 1100px;
    height: 600px;
    background-color: #1E90FF;
}

.pink-item {
    flex-basis: 500px;
    height: 600px;
    background-color: #FFBFCB;
}

.green-item {
    flex-basis: 1600px;
    height: 1000px;
    background-color: #218B22;
}

.salmon-item {
    flex-basis: 400px;
    height: 600px;
    background-color: #F08080;
}

.turquoise-item {
    flex-basis: 300px;
    height: 600px;
    background-color: #20B2AA;

}

/* FOOTER */

